@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  width: 100%;
  max-width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: $bodyText;
}
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-size: 15px;
  color: $bodyTextBold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
