$bodyText: #605e5c;
$bodyTextBold: #201f1e;
$myMessageBackground: #407ec929;
$messageBackground: #f3f3f3;
$SystemMessageBackground: #407ec914;

$lightBlue: #407ec9;

$hoverChat: $messageBackground;
$activeChat: $myMessageBackground;
$newMessages: $myMessageBackground;
